<footer class="text-center" role="contentinfo">
    <div class="container">
        <div class="copyright"> © 1997-2015 Ancestry</div>
        <ul class="menu">
            <li class="first leaf menu-mlid-670"><a href="mailto:totalrewards@ancestry.com" title="">Contact Us</a></li>
            <li class="leaf menu-mlid-669"><a href="/legal" title="">Legal Disclaimer</a></li>
            <li class="last leaf menu-mlid-683"><a href="/privacy" title="">Privacy</a></li>
        </ul>
    </div>
</footer>