h2 {
    font-weight: 300;
    font-size: 1.9rem;
}
h3 {
    font-weight: 400;
    font-size: 1.3rem;
}
.card img {
    width: 100%;
    margin-bottom: 1rem;
}
.related-content {
    ul {
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
        li {
            list-style-type: none;
        }
    }
}
.terms {
    font-size: 0.7rem;
    margin-top: 1rem;
    a {
        color: #00678a;
        text-decoration: underline;
    }
}
.close-modal {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: darkgrey;
    border: 1px solid #fff;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    font-size: 1.5em;
    font-weight: 800;
    span {
        margin-top: -7px;
        display: block;
    }
}
.modal-header {
    padding: .5rem 1rem;
    border-bottom: 0;
    h4 {
        font-size: 1rem;
        font-weight: 600;
    }
}
.modal-body {
    background-color: #f9f7f3;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.form-group {
    label {
        margin-bottom: 0;
        font-weight: 600;
    }
}