<div class="row">
    <div class="grid-col-1">
        <div class="card">
            <div class="card-body">
                <article>
                    <h2>World conflicts. Personal stories.</h2>
                    <p>Throughout history, millions of courageous men and women have served and protected their country
                        in times of conflict. Were your ancestors among them? It’s never been easier to find out on
                        Ancestry.com, the world’s largest online collection of family history resources, including
                        millions of military records spanning from before the Revolutionary War all the way up to
                        Vietnam.</p>
                    <img src="/assets/images/content_pic.png" alt="World conflicts. Personal stories.">
                    <p>Search through enlightening historical documents from every major U.S. war from the American
                        Revolution through Vietnam, including draft registration cards, veterans’ gravesites, soldier
                        pension indexes, enlistment records, muster rolls and much more.</p>
                    <button class="button bg-lime bevel">Search all military records</button>
                </article>
            </div>
        </div>
    </div>
    <div class="grid-col-2 related-content">
        <div class="card">
            <div class="card-body-sm">
                <h3>Featured Collections</h3>
                <ul>
                    <li>
                        <a href="#">U.S. World War II Army Enlistment Records</a>
                    </li>
                    <li>
                        <a href="#">U.S. Civil War Soldiers, 1861–1865</a>
                    </li>
                    <li>
                        <a href="#">WWII U.S. Navy Muster Rolls, 1938–1949</a>
                    </li>
                    <li>
                        <a href="#">U.S. World War II Draft Registration Cards, 1942</a>
                    </li>
                    <li>
                        <a href="#">World War I Draft Registration Cards</a>
                    </li>
                    <li>
                        <a href="#">U.S. Marine Corp Muster Rolls, 1798–1958</a>
                    </li>
                </ul>
                <button class="button-sm bg-dark-grey">See all collections</button>
            </div>
        </div>

        <div class="card bg-light-grey">
            <div class="card-body-sm">
                <h3>Let us help you discover your story</h3>
                <p>Begin your free family tree with a few simple facts. We’ll help you discover a lot more. Start your
                    tree by subscribing today for a free trial.</p>
                <button class="button-sm bg-dark-grey" (click)="toggleModal()">Subscribe today</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-bg" [class.show]="modalVisible" [class.hide]="!modalVisible" (click)="toggleModal()"></div>
<div class="modal-container" [class.show]="modalVisible" [class.hide]="!modalVisible">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Subscribe Today</h4>
        <button type="button" class="close-modal pull-right" aria-label="Close" (click)="toggleModal()">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-6">
                    <label [class.error]="submitted && f.firstName.errors">Your first name</label>
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">
                            <i class="fas fa-exclamation-triangle"></i> Required
                        </div>
                    </div>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                </div>
                <div class="form-group col-6">
                    <label [class.error]="submitted && f.lastName.errors">Your last name</label>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">
                            <i class="fas fa-exclamation-triangle"></i> Required
                        </div>
                    </div>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                </div>
            </div>
            <div class="form-group">
                <label [class.error]="submitted && f.email.errors">Your email</label>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required || f.email.errors.email">
                        <i class="fas fa-exclamation-triangle"></i> A valid email is required
                    </div>
                </div>
                <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            </div>
            <div>
                <button class="button-sm green-gradient bevel">Get started</button>
            </div>
            <div class="terms">
                By creating an account, you agree to <a href="#">Ancestry Terms and Conditions</a> and understand that
                your information will be used in accordance with our <a href="#">Privacy Statement</a> including that we
                will send you emails about our service and special offers.
            </div>
        </form>
    </div>
</div>