$main-bg-color: #f8f7f3;
$green: #96da5f;
$green-dark: #74b745;
$lime: #afd663;
$lime-bevel-top: #B8DB74;
$lime-bevel-bottom: #83A14A;
$dark-grey: #787774;
$link-text-color: #03678b;
$card-light-grey-bg: #f1eee9;
$error-red: #dc3545;